:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --bcg-list-color: #ffffff;
  --bcg-section-color: #2f303a;
  --bcg-second-section-color: #f5f4fa;

  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1.h2,
h3,
h4,
h5,
p,
ul {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  position: fixed;

  width: 100%;
  height: 82px;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;

  border-bottom: 1px solid #ececec;
  background-color: var(--bcg-list-color);
}
/* ------Container---------- */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: va(--bcg-listr-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* -----------------------Hidden--------------------------- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* -----------------------Header---------------------------  */
/* logo */
.header-logo {
  font-family: Raleway, sans-serif;
  display: block;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  padding-top: 24px;
  padding-bottom: 25px;

  transition: color 250ms var(--transition-timing-function);
}
.accent-logo {
  color: var(--accent-color);
}
.header-logo:hover,
.header-logo:focus,
.header-logo:active {
  color: var(--accent-color);
}
/* Menu of navigation */

.nav {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
}
.nav-section {
  display: flex;
  align-items: center;

  margin-left: 93px;
}

.item + .item {
  margin-left: 50px;
}

.link {
  display: block;
  width: 100%;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--transition-timing-function);
}

.link:hover,
.link:focus,
.link:active {
  color: var(--accent-color);
}

.item {
  position: relative;
}

.link:after,
.link:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;

  width: 100%;
  height: 4px;

  border-radius: 2px;

  transform: scaleX(0);
  transition: background-color 250ms var(--transition-timing-function),
    transform 250ms var(--transition-timing-function);
}

.link:hover:after,
.link:focus:after {
  background-color: var(--accent-color);
  opacity: 1;
  transform: scaleX(1);
}

.link.current:after {
  position: absolute;
  content: '';
  bottom: -2px;
  left: 0;

  transform: scale(1);

  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* -------------------------Contacts---------------- */
.contacts {
  display: flex;
  margin-left: auto;
}

.contact-email,
.contact-phone {
  display: inline-flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--transition-timing-function);
}
.contact-email:hover,
.contact-email:focus,
.contact-email:active {
  color: var(--accent-color);
}
.contact-phone:hover,
.contact-phone:focus,
.contact-phone:active {
  color: var(--accent-color);
}
/* -----------------contacts icons------------------------ */
.icon-envelope,
.icon-smartphone {
  fill: #757575;
  margin-right: 10px;

  transition: fill 250ms var(--transition-timing-function);
}

.contact-email:hover .icon-envelope,
.contact-email:focus .icon-envelope,
.contact-phone:hover .icon-smartphone,
.contact-phone:focus .icon-smartphone {
  fill: var(--accent-color);
}

/* .icon-envelope:hover {
  fill: var(--accent-color);
} *
/* .contact-email,
.contact-phone {
  display: inline-flex;
  align-items: center;
}
.contact-email::before {
  content: '';

  width: 16px;
  height: 12px;

  margin-right: 10px;

  background-repeat: no-repeat;
  background-image: url('../images/envelope.svg');
  background-size: contain;
}

.contact-phone::before {
  content: '';

  width: 10px;
  height: 16px;
  margin-right: 10px;

  background-image: url('../images/smartphone.svg');
  background-repeat: no-repeat; */

/* --------------------------------------------------- */

/* ------------------Main--------------------- */
/* Hero */

.hero-section {
  text-align: center;
  padding: 200px 0 200px 0;

  background-color: var(--bcg-section-color);
}

.hero-overlay {
  max-width: 1600px;
  max-height: 600px;

  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text {
  color: #ffffff;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  margin-top: 0px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* ------------Button--------------- */
button {
  display: inline-block;
  font-family: inherit;

  cursor: pointer;

  border-radius: 4px;
  border: 1px solid transparent;
}
/* Заказать услугу */

.order {
  display: inline-block;
  text-align: center;
  color: #ffffff;
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px 10px 32px;

  border-radius: 4px;

  transition: box-shadow 250ms var(--transition-timing-function);
}

.order:hover,
.order:focus,
.order:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* -------modal------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5) rotate(-90deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: scale(1) translate(-50%, -50%) rotate(0);
  transition: transform 250ms var(--transition-timing-function);
}

.button-close-modal {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms var(--transition-timing-function);
}

.button-close-modal:hover,
.button-close-modal:focus {
  fill: var(--accent-color);
}

.icon-close-black {
  width: 18px;
  height: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;
}

/* ----------------Features----------------- */
.features {
  padding-bottom: 0;
}

.features-list {
  display: flex;

  margin-top: 0;
  padding-left: 0;
}

.features-list .list-item {
  width: 270px;
}

/* --------------------icon-box------------------------ */
.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bcg-second-section-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.icon-box.antenna,
.icon-box.clock,
.icon-box.diagram,
.icon-box.astronaut {
  height: 120px;
}

/* .list-item::before {
  content: '';
  display: block;

  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bcg-second-section-color);
}
.icon-antenna::before {
  background-size: 70px 70px;
  background-image: url('../images/antenna.svg');
}
.icon-clock::before {
  background-size: 66.96px 70px;
  background-image: url('../images/clock.svg');
}
.icon-diagram::before {
  background-size: 70px 53.69px;
  background-image: url('../images/diagram.svg');
}
.icon-asronaut::before {
  background-size: 70px 70px;
  background-image: url('../images/astronaut.svg');
} */
/* ----------------------------------------------- */

.features-list .list-item:not(:last-child) {
  margin-right: 30px;
}
.features-title {
  color: var(--title-text-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;

  margin-top: 0;
  margin-bottom: 10px;
}

/* Our duties */

.duties-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}
.duties-image {
  display: flex;
  padding-left: 0;
}

.duties-item {
  align-items: center;
}

.image-item:not(:last-child) {
  margin-right: 30px;
}

.image-item-position {
  position: relative;
}

.image-description {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-weight: 700;
  width: 100%;
  min-height: 70px;
  line-height: 1.14;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
}

/* ----------------Team -----------------*/
.team {
  background-color: var(--bcg-second-section-color);
}

.portrait-item {
  background-color: #ffffff;
  width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.portrait-item:not(:last-child) {
  margin-right: 30px;
}

.our-team {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}
.team-photos {
  display: flex;
  padding-left: 0;
}
/* .portrait-img {
  margin-bottom: 30px;
} */
.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}
.team-job {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-box {
  display: block;
  padding: 30px 32px;
}
/* ----------list-social-link------icon--- */

.list-social-link {
  display: flex;
  justify-content: center;

  margin-top: 16px;
}

.list-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 44px;
  max-height: 44px;
}

.list-icon:not(:last-child) {
  margin-right: 10px;
}

.link-icon {
  display: flex;
  fill: #afb1b8;

  padding: 12px;

  border-radius: 50%;
  transform: rotate(0);
  transition: background-color 250ms var(--transition-timing-function),
    fill 250ms var(--transition-timing-function), transform 250ms linear;
}

.link-icon:focus,
.link-icon:hover {
  background-color: var(--accent-color);

  fill: #ffffff;
  transform: rotate(1turn);
}

/* Footer */
footer {
  background-color: var(--bcg-section-color);

  padding: 60px 60px;
}

.footer-logo {
  display: block;
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-weight: bold;

  width: 231px;

  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;

  transition: color 250ms var(--transition-timing-function);
}

.footer-logo:hover,
.footer-logo:active,
.footer-logo:focus {
  color: var(--accent-color);
}

.footer-container {
  display: flex;
}

.footer-box {
  display: flex;
  flex-direction: column;
  width: 231px;
}

/* -----------join-us---------- */
.join-us-box {
  display: flex;
  flex-direction: column;

  width: 206px;
  margin-left: 70px;
  margin-right: 93px;
}

.join-us-text {
  color: #ffffff;
  font-weight: 700;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: inherit;
  text-transform: uppercase;

  margin-top: 12px;
}
/* --------form-field-modal---------- */
.modal-form {
  padding: 0;
  margin: 0;
  width: 448px;
}

.modal-tile {
  color: var(--title-text-color);
  text-align: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 30px;
}

.form-field {
  display: block;
  position: relative;

  margin-bottom: 28px;
}
.form-field-email {
  display: block;
  position: relative;

  margin-bottom: 10px;
}

.form-input-modal {
  width: 100%;
  height: 40px;
  padding: 0 0 0 42px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: #fff;
}

.form-text-modal {
  position: absolute;
  top: 50%;
  left: 42px;

  cursor: pointer;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  transform: translateY(-50%);

  transition: transform 250ms var(--transition-timing-function);
}

.form-icon-modal {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;
}

.form-field > .form-icon-modal,
.form-field-email > .form-icon-modal {
  transition: fill 250ms var(--transition-timing-function);
}

.form-field:focus-within > .form-icon-modal,
.form-field-email:focus-within > .form-icon-modal {
  fill: var(--accent-color);
}

.form-field:focus-within > .form-text-modal,
.form-field-email:focus-within > .form-text-modal,
.form-input-modal:not(:placeholder-shown) + .form-text-modal {
  transform: translateY(-37px) translateX(-42px);
}

.form-input-modal:not(:placeholder-shown) {
  cursor: auto;
}

.form-input-modal:focus {
  outline-color: var(--accent-color);
}

/* textarea-comment-label*/
.textarea-comment-label {
  display: block;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}
.comment-modal {
  width: 100%;
  height: 120px;

  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  outline-color: var(--accent-color);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.comment-modal::placeholder {
  color: rgba(117, 117, 117, 0.5);

  line-height: 1.14;
  letter-spacing: 0.01em;
}
/* checkbox-modal */
.checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-icon {
  display: inline-block;

  width: 16px;
  height: 15px;

  margin-right: 6px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color 250ms var(--transition-timing-function),
    border 250ms var(--transition-timing-function);
}

.checkbox-modal:focus + .checkbox-icon {
  outline: 2px solid var(--title-text-color);
}

.checkbox-modal:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  background-image: url('../images/icon-check.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
}
.checkbox-modal {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.user-agreement {
  text-decoration: underline;
  color: var(--accent-color);
}
.user-agreement {
  transition: color 250ms var(--transition-timing-function);
}
.user-agreement:active {
  color: var(--primary-text-color);
}
/* button-modal */

.button-modal {
  display: block;
  width: 200px;
  height: 50px;

  position: relative;
  overflow: hidden;

  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;

  padding: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--accent-color);
  border-radius: 4px;
  transition: box-shadow 250ms var(--transition-timing-function);
}
.button-modal::after {
  content: '';
  position: absolute;
  /* top: var(--x);
  left: var(--y); */
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);

  width: 0;
  height: 0;
  border-radius: 50%;
  z-index: 1;
  transition: width 1s ease, height 1s ease;
  background-color: rgba(80, 97, 155, 0.302);
  z-index: 1;
}

.button-modal:hover:after {
  width: 500px;
  height: 500px;
}

.button-modal:hover,
.button-modal:focus,
.button-modal:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* -----------subcribe-form------------ */

.subcribe-text {
  display: flex;
  width: 100%;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;
  margin-top: 12px;

  text-transform: uppercase;
}
.subcribe-form {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

.subscribe-input {
  width: 358px;
  height: 50px;

  padding: 0;
  margin-right: 12px;
  padding-left: 15px;
  padding-right: 15px;

  color: #ffffff;
  font-size: 16px;
  line-height: 1.25;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  background-color: var(--bcg-section-color);
}

.subscribe-input::placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe-input:focus {
  outline: 1px solid var(--accent-color);
}

.submit-subscribe-btn {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;

  padding: 10px 0;
  padding-left: 29px;

  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.icon-send {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 10px;
  fill: #fff;

  transition: transform 250ms linear, fill 50ms linear;
}

.submit-subscribe-btn:hover .icon-send,
.submit-subscribe-btn:focus .icon-send {
  transform: scale(1.1) translateY(-45%) translateX(40%);
}
.submit-subscribe-btn:active .icon-send {
  fill: rgba(121, 158, 253, 0.837);
}
/* Footer contacts */
.contacts-item {
  display: block;
  margin-bottom: 9px;
}
.footer-contacts .contacts-item:last-child {
  margin-bottom: 0px;
}
.geoposition {
  display: inline-block;
  color: #ffffff;
  font-style: normal;

  transition: color 250ms var(--transition-timing-function);
}

.geoposition:hover,
.geoposition:active,
.geoposition:focus {
  color: var(--accent-color);
}

.footer-email,
.footer-phone {
  display: inline-block;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--transition-timing-function);
}
.footer-email:hover,
.footer-email:active,
.footer-email:focus {
  color: var(--accent-color);
}

.footer-phone:hover,
.footer-phone:active,
.footer-phone:focus {
  color: var(--accent-color);
}

/* ---------------icon-footer--------- */
.icon-footer-social {
  display: inline-flex;
  justify-content: center;
  width: 206px;

  margin-top: 20px;
}

.icon-footer {
  display: flex;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.icon-footer:not(:last-child) {
  margin-right: 10px;
}

.icon-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  fill: #ffffff;
  border-radius: 50%;

  transition: background-color 250ms var(--transition-timing-function);
}

.icon-footer-link:hover,
.icon-footer-link:focus {
  background-color: var(--accent-color);
}

/* PORTFOLIO */
/* Portfoio buttons */
.buttons-section {
  display: flex;
  justify-content: center;
  padding-left: 0;

  margin-bottom: 50px;
}

.filter:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  color: var(--title-text-color);
  background-color: #f5f4fa;

  text-align: center;

  padding: 6px 22px 6px 22px;
  border-radius: 4px;

  transition: background-color 250ms var(--transition-timing-function),
    color 250ms var(--transition-timing-function),
    box-shadow 250ms var(--transition-timing-function);
}
.button-portfolio:hover,
.button-portfolio:active,
.button-portfolio:focus {
  color: #ffffff;
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ------------Portfolio Photos-------------- */
.portfolio-photos {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  width: calc((100% - 60px) / 3);
  background: #ffffff;

  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms var(--transition-timing-function);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* -------BORDER PORTFOLIO-------- */
.border {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;

  padding: 20px 24px;
}

.border {
  border-top: none;
}
/* transition: color 250ms var(--transition-timing-function) 250ms
transition: background-color 250ms var(--transition-timing-function),
  color 250ms var(--transition-timing-function), box-shadow 250ms var(--transition-timing-function) */
/* ---------------Photos-portfolio------------------ */

.photo-link {
  color: var(--primary-text-color);

  transition: color 250ms var(--transition-timing-function);
}

.photo-link:hover,
.photo-link:focus,
.photo-link:active {
  color: var(--accent-color);
}

.portfolio-photos .photo-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin: 0 0 4px;
}
.photo-text {
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}
/* ------overlay-portfolio------ */

.project-description-overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: translateY(101%);

  transition: transform 250ms var(--transition-timing-function),
    background-color 250ms var(--transition-timing-function);
}

.photo-link:hover .project-description-overlay,
.photo-link:focus .project-description-overlay {
  transform: translateY(0);

  background-color: rgba(33, 150, 243, 0.9);
}

.overlay-text {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
}

/*-------------regular-customers---------- */
.regular-customers {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.icon-customers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-item {
  width: 170px;
  height: 92px;
}

.icon-logo-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms var(--transition-timing-function);
}
.icon-item .icon-logo-link {
  transform: scale(1);
  transition: transform 250ms var(--transition-timing-function),
    border 250ms var(--transition-timing-function);
}

.icon-item:hover .icon-logo-link,
.icon-item:focus-within .icon-logo-link {
  transform: scale(1.1);
  border: 1px solid var(--accent-color);
}

.icon-logo-link .icon-logo {
  transition: fill 250ms var(--transition-timing-function);
}
.icon-logo-link:hover .icon-logo,
.icon-logo-link:focus .icon-logo {
  fill: var(--accent-color);
}

.icon-logo {
  width: 106px;
  height: 60px;

  fill: #afb1b8;
}
.icon-item:not(:last-child) {
  margin-right: 30px;
}
/* -------test------- */
