.footer-logo {
  display: block;
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-weight: bold;

  width: 231px;

  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;

  transition: color 250ms var(--transition-timing-function);
}

.footer-logo:hover,
.footer-logo:active,
.footer-logo:focus {
  color: var(--accent-color);
}
