.contacts-item {
  display: block;
  margin-bottom: 9px;
}
.footer-contacts .contacts-item:last-child {
  margin-bottom: 0px;
}
.geoposition {
  display: inline-block;
  color: #ffffff;
  font-style: normal;

  transition: color 250ms var(--transition-timing-function);
}

.geoposition:hover,
.geoposition:active,
.geoposition:focus {
  color: var(--accent-color);
}

.footer-email,
.footer-phone {
  display: inline-block;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--transition-timing-function);
}
.footer-email:hover,
.footer-email:active,
.footer-email:focus {
  color: var(--accent-color);
}

.footer-phone:hover,
.footer-phone:active,
.footer-phone:focus {
  color: var(--accent-color);
}
