.list-social-link {
  display: flex;
  justify-content: center;

  margin-top: 16px;
}

.list-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 44px;
  max-height: 44px;
}

.list-icon:not(:last-child) {
  margin-right: 10px;
}

.link-icon {
  display: flex;
  fill: #afb1b8;

  padding: 12px;

  border-radius: 50%;
  transform: rotate(0);
  transition: background-color 250ms var(--transition-timing-function),
    fill 250ms var(--transition-timing-function), transform 250ms linear;
}

.link-icon:focus,
.link-icon:hover {
  background-color: var(--accent-color);

  fill: #ffffff;
  transform: rotate(1turn);
}
